<li class="border-bottom border-light py-1">
    <% order_id = @charge.order_id %>
    <% items = Order.find(order_id).line_items %>
    <div class="row align-items-center">
        <div class="col-12 col-sm-3">
            <%= @charge.stripe_id %>
        </div>
        <div class="col-12 col-sm-3">
            <%= @charge.user.email %>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-end">
            <% items.each do |item| %>
                <% if item.kitten.picture.attached? %>
                    <%= image_tag item.kitten.picture, alt: 'photo', class: 'card-picture mx-1 my-1' %>
                <% end %>
            <% end %>
        </div>
        <div class="col-12 col-sm-3">
        </div>
    </div>
</li>