<div class="banner <%= @datas[:class] %>" 
    style="background-image: url('<%= asset_path @datas[:img] %>');">
    <div class="container">
        <h1><%= @datas[:title] %></h1>
        <p class="lead"><%= @datas[:desc] %></p>
    </div>
</div>