<div class="container d-flex flex-column align-items-center mb-5">
    <p id="notice"><%=notice %></p>
    <div class="mw-form">
      <div class="container mt-5">
      <%=render 'checkout'%>
      </div>
    </div>
</div>
