.card-title {
    text-align: center;
}

.card-subtitle {
    text-align: center;
}

.card-text {
    text-align: center;
}

#show_button {
    margin: 0 auto;
    display: block;
}

#price_homepage {
    text-align: center;
}