#h1_carousel {
    font-size: 3rem;
    text-shadow:
    0.05em 0 black;
    text-align: center;
    bottom: 10rem;

}

.headline {
    font-size: 1rem!important;
    text-shadow:
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black;
    text-align: center;
    bottom: 6rem;

}

#test { 
    margin: 0 550px; 
}
