@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

@font-face {
    font-family: 'CrimsonText-Bold';
    src: url('app/assets/fonts/CrimsonText-Bold.ttf');
    font-family: 'CrimsonText-BoldItalic';
    src: url('app/assets/fonts/CrimsonText-BoldItalic.ttf');
    font-family: 'CrimsonText-Italic';
    src: url('app/assets/fonts/CrimsonText-Italic.ttf');
    font-family: 'CrimsonText-Regular';
    src: url('app/assets/fonts/CrimsonText-Regular.ttf');
    font-family: 'CrimsonText-SemiBold';
    src: url('app/assets/fonts/CrimsonText-SemiBold.ttf');
    font-family: 'CrimsonText-SemiBoldItalic';
    src: url('app/assets/fonts/CrimsonText-SemiBoldItalic.ttf');
}

body {
    background-color:#ffe9ec!important;
	font-family: 'Sniglet', cursive;

    ul,li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'CrimsonText-Regular'!important;
}

p {
    font-size: medium!important;
}

.card-img-top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}



.mw-form {
    width: 100%;
    max-width: 25rem;
}
