<%# ALERTE %>
<% if flash[:notice].present? || flash[:error].present? %>
    <div class="alert alert-flash <% if flash[:notice].present? %>alert-secondary<% elsif flash[:error].present? %>alert-danger<% end %>" role="alert">
        <div class="d-flex justify-content-between">
            <div class="mw-form">
                <% if flash[:notice].present? %>
                    <%= flash[:notice] %>
                <% elsif flash[:error].present? %>
                    <%= flash[:error] %>
                <% end %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% end %>