<footer class="footer-basic mt-auto">
    <div class="social">
        <a href="https://www.instagram.com/kittensthp/">
            <i class="icon ion-social-instagram"></i>
        </a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <%= link_to 'À propos', about_path %>
        </li>
        <li class="list-inline-item">
            <%= link_to 'Contact', contact_path %>
        </li>
        <li class="list-inline-item">
            <%= link_to 'Termes et conditions', terms_path %>
        </li>
        <li class="list-inline-item">
            <%= link_to 'Politique de confidentialité', privacy_policy_path %>
        </li>
    </ul>
    <p class="copyright">Kittens THP © 2021</p>
</footer>